'.text.xml':
  'D3R Field Date':
    'prefix': 'date'
    'body': '<field>\n    <name>$1</name>\n    <!-- <dbname>${1/[ ]/_/ig}</dbname> -->\n    <type>Date</type>\n    <!-- <default>${3:now}</default> -->\n    <required>False</required>\n    <listing>False</listing>\n</field>'