'.text.xml':
  'D3R Field Text':
    'prefix': 'text'
    'body': '<field>\n    <name>$1</name>\n    <!-- <dbname>${1/[ ]/_/ig}</dbname> -->\n    <type>Text</type>\n    <!-- <default>$3</default> -->\n    <required>False</required>\n    <listing>False</listing>\n</field>'